<!--保険料計算-->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title th:text="#{content.title}">国民健康保険シミュレーション</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="国保">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="国民健康保険シミュレーション">
    <meta property="og:description" content="">
    <meta property="og:image" content="/img/ogp.jpg">
    <meta property="og:site_name" content="国民健康保険シミュレーション">
    <link rel="shortcut icon" type="img/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/img/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css"
        type="text/css" media="all" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" th:href="@{calc.css}" />
</head>

<body>
    <header id="header">
        <div class="wrapper clearfix">

            <h1>
                <a th:href="@{http://localhost:8080}">国民健康保険シミュレーション </a>
            </h1>

            <ul id="hd_sns">
                <li>
                    <div class="fb-share-button" data-href="http://localhost:8080/" data-layout="button" data-size="small" data-mobile-iframe="true">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;src=sdkpreparse"
                            class="fb-xfbml-parse-ignore">シェア</a>
                    </div>
                </li>
                <li>
                    <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">Tweet</a>
                </li>
                <li>
                    <div class="line-it-button" data-lang="ja" data-type="like" data-url="http://localhost:8080/" style="display: none;"></div>
                    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                </li>
            </ul>
        </div>
    </header>
    <!-- <h1 th:text="#{content.title}">Hello page</h1> -->
	<main>
	<div id="mainimg">
            <img src="cat1.PNG" alt="ねこ">
	</div>
	<div class="wrapper">
    <p id="lead">札幌市国民保険計算</p>
    <form action="/calc" method="post">
    <p class='age' th:text="${msg}">please wait...</p>
	<ul id="select_age">
        <li><label for="radioA"><input type="radio" id="radioA" name="radio1" value="39" checked>&nbsp;39歳以下</label></li>
        <li><label for="radioB"><input type="radio" id="radioB" name="radio1" value="40">&nbsp;40歳以上</label></li>
	</ul>

    <p class="nenshu">昨年の年収を選んでください</p>
    <div id="select_money">
            <select name="select1" id="select1">
                <option value="100">100</option>
                <option value="120">120</option>
                <option value="140">140</option>
                <option value="160">160 </option>
                <option value="180">180</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
                <option value="350">350</option>
                <option value="400">400</option>
                <option value="450">450 </option>
                <option value="500">500</option>
                <option value="550">550</option>
                <option value="600">600</option>
                <option value="650">650</option>
                <option value="700">700</option>
                <option value="750">750</option>
                <option value="800">800</option>
                <option value="850">850</option>
                <option value="900">900</option>

            </select>&nbsp;万円
	</div>
    <div id="btn">
            <button class="button7" type="submit">計算</button>
    </div>
    </form>
    </div>
    </main>
 	<footer id="footer">
        <small>&copy; 国民健康保険シミュレーション</small>
    </footer>
     <script>
        window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));
    </script>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</body>

</html>