<!-- 市町村選択ページ -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title th:text="#{content.title}">国民健康保険シミュレーション</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="国保">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="国民健康保険シミュレーション">
    <meta property="og:description" content="">
    <meta property="og:image" content="/img/ogp.jpg">
    <meta property="og:site_name" content="国民健康保険シミュレーション">
    <link rel="shortcut icon" type="img/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/img/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css"
        type="text/css" media="all" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" th:href="@{/city.css}" />
</head>

<body>
    <header id="header" th:include="incl :: header">

    </header>
    <main>
        <div id="mainimg">
            <img src="/cat1.PNG" alt="ねこ">
            <nav id="bc">
	            <div class="wrapper">
	            	<ul>
	            		<li><a href="/">HOME</a></li>
	            		<li>&nbsp;&raquo;<strong>北海道</strong></li>
	            	</ul>
	            </div>
            </nav>
        </div>

        <div class="wrapper">
            <p id="lead" th:text="#{content.sichou}"></p>

            <!-- リンクを付けるためにインライン処理する -->
            <table id="city_tbl" th:inline="text" >
                <tr>
                   <th th:if="${id eq 1}">
                        <span>No.</span>北海道</th>
                    <td>
                        <ul class="clearfix">
                          <!-- thymeleafのeach文とインライン処理で埋め込んだ変数配列からHTML出力する。 -->
                            <li th:each="hokkaido : ${hokkaido}">
                            <!-- 各都市にリンク付ける。都道府県idのあとに都市のidをつける。配列の中身をeach文で出力（2～7） -->
                                <a th:href="@{'/1/'+${hokkaido.get('id')}+'/calc'}">
                                    <span>1</span>[[${hokkaido.get('name')}]]</a>
                            </li>
                            <li th:each="aomori : ${aomori}">
                                <a th:href="@{'/2/'+${aomori.get('id')}+'/calc'}">
                                    <span>1</span>[[${aomori.get('name')}]]</a>
                            </li>
                            <li th:each="iwate : ${iwate}">
                                <a th:href="@{'/3/'+${iwate.get('id')}+'/calc'}">
                                    <span>1</span>[[${iwate.get('name')}]]</a>

                            </li>
                            <li th:each="miyagi : ${miyagi}">
                                <a th:href="@{'/4/'+${miyagi.get('id')}+'/calc'}">
                                    <span>1</span>[[${miyagi.get('name')}]]</a>

                            </li>
                            <li th:each="akita : ${akita}">
                                <a th:href="@{'/5/'+${akita.get('id')}+'/calc'}">
                                    <span>1</span>[[${akita.get('name')}]]</a>

                            </li>
                            <li th:each="yamagata : ${yamagata}">
                                <a th:href="@{'/6/'+${yamagata .get('id')}+'/calc'}">
                                    <span>1</span>[[${yamagata.get('name')}]]</a>

                            </li>
                            <li th:each=" fukushima: ${fukushima}">
                                <a th:href="@{'/7/'+${fukushima.get('id')}+'/calc'}">
                                    <span>1</span>[[${fukushima.get('name')}]]</a>

                            </li>
                            <li th:each=" ibaragi: ${ibaragi}">
                                <a th:href="@{'/8/'+${ibaragi  .get('id')}+'/calc'}">
                                    <span>1</span>[[${ibaragi.get('name')}]]</a>

                            </li>
                            <li th:each="tochigi: ${tochigi}">
                                <a th:href="@{'/9/'+${tochigi  .get('id')}+'/calc'}">
                                    <span>1</span>[[${tochigi.get('name')}]]</a>

                            </li>
                            <li th:each="gunma : ${gunma}">
                                <a th:href="@{'/10/'+${gunma    .get('id')}+'/calc'}">
                                    <span>1</span>[[${gunma.get('name')}]]</a>

                            </li>
                            <li th:each="saitama : ${saitama}">
                                <a th:href="@{'/11/'+${saitama  .get('id')}+'/calc'}">
                                    <span>1</span>[[${saitama.get('name')}]]</a>

                            </li>
                            <li th:each="chiba : ${chiba}">
                                <a th:href="@{'/12/'+${chiba    .get('id')}+'/calc'}">
                                    <span>1</span>[[${chiba.get('name')}]]</a>

                            </li>

                            <li th:each=" tokyo: ${tokyo}">
                                <a th:href="@{'/13/'+${tokyo    .get('id')}+'/calc'}">
                                    <span>1</span>[[${tokyo.get('name')}]]</a>

                            </li>
                            <li th:each="kanagawa : ${kanagawa}">
                                <a th:href="@{'/14/'+${kanagawa .get('id')}+'/calc'}">
                                    <span>1</span>[[${kanagawa.get('name')}]]</a>

                            </li>
                            <li th:each="niigata: ${niigata}">
                                <a th:href="@{'/15/'+${niigata  .get('id')}+'/calc'}">
                                    <span>1</span>[[${niigata.get('name')}]]</a>

                            </li>
                            <li th:each="toyama : ${toyama}">
                                <a th:href="@{'/16/'+${toyama   .get('id')}+'/calc'}">
                                    <span>1</span>[[${toyama.get('name')}]]</a>

                            </li>
                            <li th:each="ishikawa : ${ishikawa}">
                                <a th:href="@{'/17/'+${ishikawa .get('id')}+'/calc'}">
                                    <span>1</span>[[${ishikawa.get('name')}]]</a>

                            </li>
                            <li th:each="fukui : ${fukui}">
                                <a th:href="@{'/18/'+${fukui    .get('id')}+'/calc'}">
                                    <span>1</span>[[${fukui.get('name')}]]</a>

                            </li>
                            <li th:each="yamanashi : ${yamanashi}">
                                <a th:href="@{'/19/'+${yamanashi.get('id')}+'/calc'}">
                                    <span>1</span>[[${yamanashi.get('name')}]]</a>

                            </li>
                            <li th:each="nagano : ${nagano}">
                                <a th:href="@{'/20/'+${nagano   .get('id')}+'/calc'}">
                                    <span>1</span>[[${nagano.get('name')}]]</a>

                            </li>
                            <li th:each="gifu : ${gifu}">
                                <a th:href="@{'/21/'+${gifu     .get('id')}+'/calc'}">
                                    <span>1</span>[[${gifu.get('name')}]]</a>

                            </li>
                            <li th:each="shizuoka : ${shizuoka}">
                                <a th:href="@{'/22/'+${shizuoka .get('id')}+'/calc'}">
                                    <span>1</span>[[${shizuoka.get('name')}]]</a>

                            </li>
                            <li th:each="aichi : ${aichi}">
                                <a th:href="@{'/23/'+${aichi    .get('id')}+'/calc'}">
                                    <span>1</span>[[${aichi.get('name')}]]</a>

                            </li>
                            <li th:each="mie : ${mie}">
                                <a th:href="@{'/24/'+${mie      .get('id')}+'/calc'}">
                                    <span>1</span>[[${mie.get('name')}]]</a>

                            </li>
                            <li th:each="shiga : ${shiga}">
                                <a th:href="@{'/25/'+${shiga    .get('id')}+'/calc'}">
                                    <span>1</span>[[${shiga.get('name')}]]</a>

                            </li>
                            <li th:each="kyoto: ${kyoto}">
                                <a th:href="@{'/26/'+${kyoto    .get('id')}+'/calc'}">
                                    <span>1</span>[[${kyoto.get('name')}]]</a>

                            </li>
                            <li th:each="oosaka : ${oosaka}">
                                <a th:href="@{'/27/'+${oosaka   .get('id')}+'/calc'}">
                                    <span>1</span>[[${oosaka.get('name')}]]</a>

                            </li>
                            <li th:each="hyougo : ${hyougo}">
                                <a th:href="@{'/28/'+${hyougo   .get('id')}+'/calc'}">
                                    <span>1</span>[[${hyougo.get('name')}]]</a>

                            </li>
                            <li th:each="nara: ${nara}">
                                <a th:href="@{'/29/'+${nara     .get('id')}+'/calc'}">
                                    <span>1</span>[[${nara.get('name')}]]</a>

                            </li>
                            <li th:each="wakayama : ${wakayama}">
                                <a th:href="@{'/30/'+${wakayama .get('id')}+'/calc'}">
                                    <span>1</span>[[${wakayama.get('name')}]]</a>

                            </li>
                            <li th:each="tottori : ${tottori}">
                                <a th:href="@{'/31/'+${tottori  .get('id')}+'/calc'}">
                                    <span>1</span>[[${tottori.get('name')}]]</a>

                            </li>
                            <li th:each="shimane : ${shimane}">
                                <a th:href="@{'/32/'+${shimane  .get('id')}+'/calc'}">
                                    <span>1</span>[[${shimane.get('name')}]]</a>



                            </li>
                            <li th:each="okayama : ${okayama}">
                                <a th:href="@{'/33/'+${okayama.get('id')}+'/calc'}">
                                    <span>1</span>[[${okayama.get('name')}]]</a>

                            </li>
                            <li th:each="hiroshima: ${hiroshima}">
                                <a th:href="@{'/34/'+${hiroshima.get('id')}+'/calc'}">
                                    <span>1</span>[[${hiroshima.get('name')}]]</a>

                            </li>
                            <li th:each="yamaguchi : ${yamaguchi}">
                                <a th:href="@{'/35/'+${yamaguchi.get('id')}+'/calc'}">
                                    <span>1</span>[[${yamaguchi.get('name')}]]</a>

                            </li>
                            <li th:each="tokushima : ${tokushima}">
                                <a th:href="@{'/36/'+${tokushima.get('id')}+'/calc'}">
                                    <span>1</span>[[${tokushima.get('name')}]]</a>

                            </li>
                            <li th:each="kagawa : ${kagawa}">
                                <a th:href="@{'/37/'+${kagawa   .get('id')}+'/calc'}">
                                    <span>1</span>[[${kagawa.get('name')}]]</a>

                            </li>
                            <li th:each="ehime : ${ehime}">
                                <a th:href="@{'/38/'+${ehime    .get('id')}+'/calc'}">
                                    <span>1</span>[[${ehime.get('name')}]]</a>

                            </li>
                            <li th:each="kouchi : ${kouchi}">
                                <a th:href="@{'/39/'+${kouchi   .get('id')}+'/calc'}">
                                    <span>1</span>[[${kouchi.get('name')}]]</a>

                            </li>
                            <li th:each="fukuoka : ${fukuoka}">
                                <a th:href="@{'/40/'+${fukuoka  .get('id')}+'/calc'}">
                                    <span>1</span>[[${fukuoka.get('name')}]]</a>

                            </li>
                            <li th:each="saga : ${saga}">
                                <a th:href="@{'/41/'+${saga     .get('id')}+'/calc'}">
                                    <span>1</span>[[${saga.get('name')}]]</a>

                            </li>
                            <li th:each="nagasaki : ${nagasaki}">
                                <a th:href="@{'/42/'+${nagasaki .get('id')}+'/calc'}">
                                    <span>1</span>[[${nagasaki.get('name')}]]</a>

                            </li>
                            <li th:each="kumamoto : ${kumamoto}">
                                <a th:href="@{'/43/'+${kumamoto .get('id')}+'/calc'}">
                                    <span>1</span>[[${kumamoto.get('name')}]]</a>

                            </li>
                            <li th:each="ooita : ${ooita}">
                                <a th:href="@{'/44/'+${ooita    .get('id')}+'/calc'}">
                                    <span>1</span>[[${ooita.get('name')}]]</a>

                            </li>
                            <li th:each="miyazaki : ${miyazaki}">
                                <a th:href="@{'/45/'+${miyazaki .get('id')}+'/calc'}">
                                    <span>1</span>[[${miyazaki.get('name')}]]</a>

                            </li>
                             <li th:each="kagoshima : ${kagoshima}">
                                <a th:href="@{'/46/'+${kagoshima.get('id')}+'/calc'}">
                                    <span>1</span>[[${kagoshima.get('name')}]]</a>

                            </li>
                             <li th:each="okinawa : ${okinawa}">
                                <a th:href="@{'/47/'+${okinawa  .get('id')}+'/calc'}">
                                    <span>1</span>[[${okinawa.get('name')}]]</a>

                            </li>

                        </ul>
                    </td>
                </tr>
            </table>

        </div>
    </main>
     <footer id="footer" th:include="incl :: footer">

    </footer>
    <script th:include="incl :: script1">
            </script>
    <div id="fb-root"></div>
    <script th:include="incl :: script2">
          </script>
</body>

</html>