<!-- TopPage 都道府県選択 -->
<!DOCTYPE html>
<!-- thymeleaf宣言 -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title th:text="#{content.title}">国民健康保険シミュレーション</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="国保">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="国民健康保険シミュレーション">
    <meta property="og:description" content="">
    <meta property="og:image" content="/img/ogp.jpg">
    <meta property="og:site_name" content="国民健康保険シミュレーション">
    <link rel="shortcut icon" type="img/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/img/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css"
        type="text/css" media="all" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" th:href="@{/index222.css}" />
</head>

<body>
    <!-- headerをinclファイルからincludeしている -->
    <header id="header" th:include="incl :: header">
    </header>
    <main>
        <div id="mainimg">
            <img src="cat1.PNG" alt="ねこ">
        </div>
        <div class="wrapper">
            <p id="lead">都道府県を選択してシミュレーションスタート！</p>


            <!-- インライン処理（HTMLタグとタグの間に直接thymeleafの変数式が書き込める -->
            <table class="area_table" th:inline="text">
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>北海道</th>
                    <td>
                        <ul class="clearfix">

                            <!-- thymeleafのeach文とインライン処理で埋め込んだ変数配列からHTML出力する。 -->
                            <li th:each="hokkaido: ${hokkaido}">
                                <a href="/a/1">
                                    <span>1</span>[[${hokkaido.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>東北</th>
                    <td>
                        <ul class="clearfix">
                            <!-- thymeleafのeach文とインライン処理で埋め込んだ変数配列からHTML出力する。 -->
                            <li th:each="touhoku: ${touhoku}">
                                <!-- 各県にリンク付ける。URLの最後にDBのidをつける。配列の中身をeach文で出力（2～7） -->
                                <a th:href="@{'/a/'+${touhoku.get('id')}}">

                                    <!-- 地方の県名の配列の中身をeach文で出力 -->
                                    <span>2</span>[[${touhoku.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>関東・甲信越</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="kantou: ${kantou}">
                                <a th:href="@{'/a/'+${kantou.get('id')}}">
                                    <span>3</span>[[${kantou.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>中部・北陸</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="hokuriku: ${hokuriku}">
                                <a th:href="@{'/a/'+${hokuriku.get('id')}}">
                                    <span>4</span>[[${hokuriku.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>東海</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="toukai: ${toukai}">
                                <a th:href="@{'/a/'+${toukai.get('id')}}">
                                    <span>5</span>[[${toukai.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>近畿</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="kinki: ${kinki}">
                                <a th:href="@{'/a/'+${kinki.get('id')}}">
                                    <span>6</span>[[${kinki.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>中国</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="chugoku: ${chugoku}">
                                <a th:href="@{'/a/'+${chugoku.get('id')}}">
                                    <span>7</span>[[${chugoku.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>四国</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="sikoku: ${sikoku}">
                                <a th:href="@{'/a/'+${sikoku.get('id')}}">
                                    <span>8</span>[[${sikoku.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-map-marker-alt"></i>九州・沖縄</th>
                    <td>
                        <ul class="clearfix">
                            <li th:each="kyushu: ${kyushu}">
                                <a th:href="@{'/a/'+${kyushu.get('id')}}">
                                    <span>9</span>[[${kyushu.get('name')}]]</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>


        </div>
    </main>
    <!-- inclファイルからincludeしている -->
    <footer id="footer" th:include="incl :: footer">

    </footer>
    <!-- inclファイルからinclude -->
    <script th:include="incl :: script1">
    </script>
    <div id="fb-root"></div>
    <script th:include="incl :: script2">
    </script>
</body>

</html>